.App {
  text-align: center;
  background-color: white;
  width: 800px;
  height: 600px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ip-inputs {
  padding-top: 8rem;
}

.ip {
  background-color: white;
  margin: 1rem;
  height: 2rem;
  width: 10rem;
  border: 1px solid #444;
  color: #444;
  text-align: center;
}
.ip:focus-visible {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  outline: none;
}

.ip.not-empty {
  border: none;
  border-bottom: 2px solid #f0f0f0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;

  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;

  /* play state */
  border-style: solid;
  border-width: 37px 0 37px 60px;
}

.button.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}

button:hover {
  border-color: transparent transparent transparent #404040;
}

.player {
  text-align: center;
  padding-top: 13rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
